h1 {
    font-family: "Poppins", sans-serif;
    color: var(--text);
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin: 1rem;
}

.tbc-span {
    color: var(--primary);
}

h2 {
    color: var(--primary);
    font-size: 2rem;
    margin: 1rem;
    font-family: "Poppins", sans-serif;
}

.books-cont {}

.books-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.books-list-item {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    width: 16rem;
    height: auto;
}

.books-list-item-body {
    padding: 0 .5rem .5rem .5rem;
    word-wrap: break-word;
}

.books-list-item-body p:nth-of-type(1) {
    color: var(--primary);
    font-weight: bold;
}

.books-list-item-body p:nth-of-type(2) {
    color: var(--text);
}

.books-list-item a img {
    max-width: 100%;
}

.pagination-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: white;
}

.pagination-cont > *{
    padding: 0 1rem;
}

.pagination-btn {
    background-color: var(--primary);
    color: var(--text);
    padding: .5rem 1.5rem;
    border-radius: .5em;
    cursor: pointer;
    text-decoration: none;
}

.pagination-btn:disabled,
.pagination-btn[disabled] {
    background-color: var(--primary-700);
    cursor: default;
}
