:root {
    --text: rgb(0, 0, 0);
    --background: rgb(238, 239, 242);
    --primary: rgb(0, 149, 255);
    --secondary: rgb(221, 224, 228);
    --accent: rgb(0, 149, 255);

    --text-50: rgb(242, 242, 242);
    --text-100: rgb(230, 230, 230);
    --text-200: rgb(204, 204, 204);
    --text-300: rgb(179, 179, 179);
    --text-400: rgb(153, 153, 153);
    --text-500: rgb(128, 128, 128);
    --text-600: rgb(102, 102, 102);
    --text-700: rgb(77, 77, 77);
    --text-800: rgb(51, 51, 51);
    --text-900: rgb(26, 26, 26);
    --text-950: rgb(13, 13, 13);

    --background-50: rgb(241, 241, 244);
    --background-100: rgb(226, 228, 233);
    --background-200: rgb(197, 201, 211);
    --background-300: rgb(169, 174, 188);
    --background-400: rgb(140, 146, 166);
    --background-500: rgb(111, 119, 144);
    --background-600: rgb(89, 95, 115);
    --background-700: rgb(67, 72, 86);
    --background-800: rgb(44, 48, 58);
    --background-900: rgb(22, 24, 29);
    --background-950: rgb(11, 12, 14);

    --primary-50: rgb(229, 244, 255);
    --primary-100: rgb(204, 234, 255);
    --primary-200: rgb(153, 213, 255);
    --primary-300: rgb(102, 191, 255);
    --primary-400: rgb(51, 170, 255);
    --primary-500: rgb(0, 149, 255);
    --primary-600: rgb(0, 119, 204);
    --primary-700: rgb(0, 89, 153);
    --primary-800: rgb(0, 60, 102);
    --primary-900: rgb(0, 30, 51);
    --primary-950: rgb(0, 15, 26);

    --secondary-50: rgb(241, 242, 244);
    --secondary-100: rgb(227, 229, 232);
    --secondary-200: rgb(198, 203, 210);
    --secondary-300: rgb(170, 177, 187);
    --secondary-400: rgb(142, 152, 164);
    --secondary-500: rgb(113, 126, 142);
    --secondary-600: rgb(91, 101, 113);
    --secondary-700: rgb(68, 75, 85);
    --secondary-800: rgb(45, 50, 57);
    --secondary-900: rgb(23, 25, 28);
    --secondary-950: rgb(11, 13, 14);

    --accent-50: rgb(229, 244, 255);
    --accent-100: rgb(204, 234, 255);
    --accent-200: rgb(153, 213, 255);
    --accent-300: rgb(102, 191, 255);
    --accent-400: rgb(51, 170, 255);
    --accent-500: rgb(0, 149, 255);
    --accent-600: rgb(0, 119, 204);
    --accent-700: rgb(0, 89, 153);
    --accent-800: rgb(0, 60, 102);
    --accent-900: rgb(0, 30, 51);
    --accent-950: rgb(0, 15, 26);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

body {
    min-height: 100vh;
    background-color: var(--background);
    overflow: hidden;
    font-family: "Poppins", sans-serif;
}